# Database Credentials

# For Localhost
MONGO_URI = mongodb://localhost:27017
MONGO_DB = ticketify

# For Docker
# MONGO_URI = mongodb://mongodb:27017
# MONGO_DB = ticketify-docker

# Secret key for generating JWT tokens
JWT_SECRET_KEY = c57fa82f1a6124ccc18b5c49d4ae9e7484d0012598bd1c26cd7a2a9bd1b417fc582727bf74bf61023fc4ff200512726e15118add65100310acc978fae3c1ed9f

# Environment configuration
APP_ENV = development

# Initial Admin Details
INITIAL_ADMIN_NAME = Super Admin
INITIAL_ADMIN_USERNAME = admin
INITIAL_ADMIN_EMAIL =  admin@ticketify.com
INITIAL_ADMIN_PASSWORD = Admin@123